MOE/node_modules
MOE/public/storage
MOE/public/assets
MOE/storage/app
MOE/storage/cache
MOE/storage/logs/*
MOE/vendor
MOE/npm-debug.log
MOE/package-lock.json
MOE/composer.lock
MOE/vendor.zip
MOE/.vscode
MOE/.editorconfig
MOE/.styleci.yml
.tmp.driveupload