.pagination-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    .pagination {
        display: flex;
        justify-content: center;
        margin: 0 auto 0 0;

        .page-item {
            padding: 0;
            margin: 0;
            display: inline-block;
            border-radius: 0;
            background: none !important;

            &:not(last-child) {
                margin-right: 5px;
            }

            i {
                font-size: 10px;
            }

            .page-link {
                font-size: 14px;
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                color: $gray-light;
                font-weight: 600;
                background: none !important;
                box-shadow: none !important;

                &:before {
                    position: absolute;
                    z-index: -1;
                    height: 20px;
                    width: 20px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transform-origin: 50% 50%;
                    content: '';
                    background-color: $gray-lighter;
                    border-radius: 4px;
                    opacity: 0;
                    transition: all .3s;
                }

                &:hover {
                    color: $gray;
                }
            }

            &.active .page-link, .page-link:hover {

                &:before {
                    opacity: 1;
                    height: 100%;
                    width: 100%;
                }
            }

            &.active .page-link {
                color: white;

                &:before {
                    opacity: 1;
                    background-color: $primary;
                }
            }

            &:first-child .page-link,
                &:last-child .page-link {
	            background: $gray-lighter;
            }
        }
    }

    .pagination-status {
        display: flex;
        align-self: center;
		padding-left: 15px;
        color: $gray;
        font-weight: 500;
        right: 0;
        top: 0;
        background-color: $gray-lighter;
        padding: 8px 15px;
        border-radius: 4px;
        height: 36px;
    }


    @media (max-width: 991px) {

        .pagination {

            .page-item {
                display: none;
                margin-right: 15px;

                &:first-child,
                &:last-child,
                &.active {
                    display: inline-block;
                }
            }
        }
    }
}
