.editorconfig
/node_modules
/public/hot
/public/storage
/public/assets
/storage/app
/storage/cache
/storage/logs/*
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
.phpunit.result.cache
.project
.settings
.buildpath
.vscode
.vagrant
.idea
.styleci.yml
.tmp.driveupload
.driveupload
